html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: #EC6608;
  font-size: 1.5rem;
  text-decoration: none;
}

a:visited, a:hover, a:active {
  text-decoration: none;
}

.oc-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.oc-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oc-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.oc-link {
  margin-right: 1rem;
  margin-left: 1rem;
}

.oc-logo {
  height: 250px;
}

@media screen and (max-width: 750px) {
  .oc-logo {
    height: 200px;
  }
}

@media screen and (max-width: 600px) {
  .oc-logo {
    height: 150px;
  }
}